.skill{
    position: relative;
    background: black;
    width: 100%;
    height: 109vh;
    margin-top: -30px;;

}
.skill h2{
    margin-top:5%;
    position: absolute;
    padding-left: 46%;
    text-align: center;
    font-size: 40px;
    color: white;
}
.skill p{
    position: absolute;
    font-size: 20px;
    font-weight: 400;
    padding: 0 50px;
    text-align: center;
    color: white;
    margin-top: 12%;
}
.skill span{
    color:rgba(156,53,132,255) ;
}


.skill-list{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap:100px;
    margin-top:25%;
    padding-left: 100px;

}
.skill-box{
    
    border: 0.1px solid rgba(124, 65, 36, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition:all 0.3s ease;
    border-radius: 12px;
    padding:20px;
    background:#000;
    color:#fff;
    width:250px;
    transition: all 0.3s ease;
    box-shadow: 5px 5px 10px rgba(156,53,132,255) ,
                -10px -10px 20px rgba(25, 17, 13, 0.5); 
}

.skill-box:hover{
    transform: translateY(-2px);
     box-shadow: 15px 15px 30px  rgba(156,53,132,255) ,
                5px 5px 10px rgba(124, 65, 36, 0.5);
}

.skill-box h3{
    align-items: center;
    padding-inline-start: 50px;
}
.skill-box ul li::before{
      content: "▸";
  position: absolute;
  left: 0;
  color: #ffffff;
}
.skill-box ul {
  list-style: none;
  padding-left: 0;
}

.skill-box ul li {
  margin: 0.4rem 0;
  position: relative;
  padding-left: 10px;
}

.skill-box {
     font-weight: bold;
  padding:  18px;
  border-radius: 15px;
   animation: floatIcon 2s ease-in-out infinite;
  color: #ffffff;
  user-select: none;
}


@keyframes floatIcon{
    0%,100% {transform:translateY(0);}
    50% {transform: translateY(-8px);}
}

